# Cleaning

#### 1. Importing required library

In [1]:
# importing libraries
import pandas as pd

#### 2. Reading csv files

In [2]:
# reading csv files
dfamd = pd.read_csv('../data/amd.csv')
dfnvidia = pd.read_csv('../data/nvidia.csv')

/Users/as/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,4,6,8,9,10,11,12,16,17,19,20,21,22,23,24,25,27,28,29,30,32,33,35,36,37,41,43,48,49,54,55,61,64,65,67,68,69,72,74,79,80,81,83,86,87,88,89,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/as/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,4,6,8,9,10,11,12,16,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,39,41,46,47,52,56,59,61,64,65,66,67,68,69,70,71,72,73,74,80,81,82,83,84,87,88,89,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# checking df content
dfamd.head(3)

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_patreon_flair,author_premium,...,rte_mode,brand_safe,previous_visits,approved_at_utc,author_created_utc,banned_at_utc,distinguished,mod_reports,user_reports,timestamp
0,[],False,TheHillxer,NaN,[],NaN,text,t2_a13bii2l,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27
1,[],False,TheHillxer,NaN,[],NaN,text,t2_a13bii2l,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27
2,[],False,noobtablet9,NaN,[],NaN,text,t2_gkzy0,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27

#### 3. Cleaning of data

In [4]:
#narrowing down variables
subfields = ['title', 'selftext', 'subreddit', 'created_utc', 'author', 'num_comments', 'score']

In [5]:
# selecting subfields
dfa = dfamd[subfields]
dfn = dfnvidia[subfields]

In [6]:
# checking df shape
print("amd" , dfa.shape)
print("nvidia", dfn.shape)

amd (10080, 7)
nvidia (10090, 7)

In [7]:
# checking df content
dfa.head()

,title,selftext,subreddit,created_utc,author,num_comments,score
0,Finally done!!,NaN,Amd,1624754123,TheHillxer,1,1
1,Finally done!! 5950x 6900xt,NaN,Amd,1624754677,TheHillxer,15,1
2,My Vega 64 is stuck in a cycle of NO SIGNAL,Is the card dead? It is no longer under warran...,Amd,1624754751,noobtablet9,2,1
3,3900x core location on the ccds,NaN,Amd,1624755170,destiny2sk,18,1
4,ASUS Motherboard ROG STRIX B550-F PBO options ...,**ASUS B550-F BIOS 2403**\n\nDoes PBO need to ...,Amd,1624756643,ceetoee,10,1

#### 4. Checking for Null Values

In [8]:
# checking for null values in df
dfa.isnull().sum().sort_values(ascending = False)

selftext        3130
title              0
subreddit          0
created_utc        0
author             0
num_comments       0
score              0
dtype: int64

In [9]:
# checking for null values in df
dfn.isnull().sum().sort_values(ascending = False)

selftext        2235
title              0
subreddit          0
created_utc        0
author             0
num_comments       0
score              0
dtype: int64

In [10]:
# checking data type in df
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         10080 non-null  object
 1   selftext      6950 non-null   object
 2   subreddit     10080 non-null  object
 3   created_utc   10080 non-null  int64
 4   author        10080 non-null  object
 5   num_comments  10080 non-null  int64
 6   score         10080 non-null  int64
dtypes: int64(3), object(4)
memory usage: 551.4+ KB

#### 5. Removing duplicates from title feature column

In [11]:
# dropping duplicates
df_a = dfa.drop_duplicates(subset=['title']).copy()
print("amd" , df_a.shape)

amd (7573, 7)

#### 6. Removing null and deleted content

In [12]:
# removing NaN, [removed] and [deleted] from dataset
# cleaning away old columns
df_a['selftext'] = df_a['selftext'].astype(str)
df_a['content'] = df_a['selftext'].apply(lambda x: x.replace("[removed]", ''))
df_a['content2'] = df_a['content'].apply(lambda x: x.replace("[deleted]", ''))
df_a['content3'] = df_a['content2'].apply(lambda x: x.replace("nan", ''))
df_a.drop(labels=["selftext","content", "content2", "created_utc"], axis=1, inplace=True)
df_a.head(10)

,title,subreddit,author,num_comments,score,content3
0,Finally done!!,Amd,TheHillxer,1,1,
1,Finally done!! 5950x 6900xt,Amd,TheHillxer,15,1,
2,My Vega 64 is stuck in a cycle of NO SIGNAL,Amd,noobtablet9,2,1,Is the card dead? It is no longer under warran...
3,3900x core location on the ccds,Amd,destiny2sk,18,1,
4,ASUS Motherboard ROG STRIX B550-F PBO options ...,Amd,ceetoee,10,1,**ASUS B550-F BIOS 2403**\n\nDoes PBO need to ...
5,Have the USB issues been fixed?,Amd,Alivus,0,1,
6,Will the NOCTUA NH-U12S handle the Ryzen 9 5900x?,Amd,jusjohn55,0,1,
7,"Help, low 5600X Cinebench score after motherbo...",Amd,SavageSam1234,2,1,
8,21.6.1 AMD Adrenalin wonâ€™t open,Amd,Hightowerer,0,1,
9,"GIGABYTE X570 AORUS Elite Wi-Fi, is it wifi6 a...",Amd,Orefeus,1,1,Having a hard time find that information

#### 7. Repeating for 2nd df

In [13]:
# dropping duplicates
df_n = dfn.drop_duplicates(subset=['title']).copy()
print("nvidia" , df_n.shape)

nvidia (9542, 7)

In [14]:
# remocing NaN, [removed], [deleted] content and removing old columns
df_n['selftext'] = df_n['selftext'].astype(str)
df_n['content'] = df_n['selftext'].apply(lambda x: x.replace("[removed]", ''))
df_n['content2'] = df_n['content'].apply(lambda x: x.replace("[deleted]", ''))
df_n['content3'] = df_n['content2'].apply(lambda x: x.replace("nan", ''))
df_n.drop(labels=["selftext","content", "content2", "created_utc"], axis=1, inplace=True)
df_n.head(10)

,title,subreddit,author,num_comments,score,content3
0,Buzzing sound from 3060 Ti FE,nvidia,snorkles01,0,1,I just got my 3060 Ti FE installed a couple da...
1,System crash now no video signal from evga 3080,nvidia,dolemite79,4,1,"So I've had my 3080 since November, no issues ..."
2,DLSS in Necromunda Hired Gun Image Quality Com...,nvidia,makisekurisudesu,12,1,"I think what I want to like the clarity, alias..."
3,How come my cat ears WONT show up on NVIDIA BR...,nvidia,TJOcraft8,5,1,"come on man, IM ASKING YOU REDDIT. IM A EMO GO..."
4,Filters arent working,nvidia,FriendleyComdrade,3,1,Every time i open Valorant to add a certain fi...
5,is nvidia broadcast the best ai green screen r...,nvidia,TJOcraft8,1,1,just wondering
6,"GTX 400/500/600 are not W11 ""safe""",nvidia,man_in__the_mirra,0,1,The other post mentioned that it was tesla era...
7,Low GPU usage CS GO,nvidia,maddyy1991,4,1,"I have legion Y540 laptop - i5 9th gen, RAM 8g..."
8,"GTX 1080 with two monitors, one won't go to st...",nvidia,ima420r,0,1,I have a GTX 1080 with 2 monitors and a TV plu...
9,My 3080FE seems to be running absurdly hot. An...,nvidia,MisterLaz,22,1,"Hey all, I have a 3080FE card and it seems to ..."

In [15]:
# checking df shape after cleaning
df_n.shape

(9542, 6)

In [16]:
# checking df shape after cleaning
df_a.shape

(7573, 6)

### Feature Engineering

#### 8. Combining title and content into a new column that can be vectorized later

In [17]:
# creating a new feature which combines title and content
df_a['combined'] = df_a['title'] + df_a['content3']
df_n['combined'] = df_n['title'] + df_n['content3']

In [18]:
# dropping content3 as it is no longer required
df_a.drop(labels=["title","content3"], axis=1, inplace=True)
df_n.drop(labels=["title","content3"], axis=1, inplace=True)

In [19]:
# checking of df
df_a.head()

,subreddit,author,num_comments,score,combined
0,Amd,TheHillxer,1,1,Finally done!!
1,Amd,TheHillxer,15,1,Finally done!! 5950x 6900xt
2,Amd,noobtablet9,2,1,My Vega 64 is stuck in a cycle of NO SIGNALIs ...
3,Amd,destiny2sk,18,1,3900x core location on the ccds
4,Amd,ceetoee,10,1,ASUS Motherboard ROG STRIX B550-F PBO options ...

In [20]:
# checking of df
df_n.head()

,subreddit,author,num_comments,score,combined
0,nvidia,snorkles01,0,1,Buzzing sound from 3060 Ti FEI just got my 306...
1,nvidia,dolemite79,4,1,System crash now no video signal from evga 308...
2,nvidia,makisekurisudesu,12,1,DLSS in Necromunda Hired Gun Image Quality Com...
3,nvidia,TJOcraft8,5,1,How come my cat ears WONT show up on NVIDIA BR...
4,nvidia,FriendleyComdrade,3,1,Filters arent workingEvery time i open Valoran...

#### 9. Saving to CSV for NLP and EDA later

In [21]:
#saving to csv
df_a.to_csv('../data/amd_cleaned.csv', index=False)
df_n.to_csv('../data/nvidia_cleaned.csv', index=False)